{extend name='public:base'}
{block name='title'}返现记录{/block}
{block name='style'}
<style type="text/css">
  .cashrecord-main{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* record-list 样式 start  */
  .record-list{
    width: 710px;
    height: auto;
    margin: 0 auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .record-item{
    width: 100%;
    height: 112px;
    border-bottom: 1px solid #e5e5e5;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .record-item .record-item-l{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .record-item .record-item-l p{
    font-size: 30px;
    color: #666;
  }
  .record-item .record-item-l p.withdrawal{
    color: #333;
  }
  .record-item .record-item-l p.time{
    font-size: 22px;
  }
  .record-item .record-item-r{
    margin-right: 10px;
    font-size: 28px;
    color: #333;
  }
  .record-item .record-item-r.red{
    font-size: 30px;
    color: #ff0a04;
  }
</style>
{/block}

{block name='body'}
<body>
<div class="cashrecord-main">
  <div class="record-list">
  <div class="record-item">
    <div class="record-item-l">
      <p class="withdrawal">已提现金额</p>
    </div>
    <div class="record-item-r red">
      ￥{$cashed|number_format=2}
    </div>
  </div>


    {volist name='list' id='v'}
    <div class="record-item">
      <div class="record-item-l">
        <p>消费返现</p>
        <p class="time">{:explode(' ',$v.created_at)[0]}</p>
      </div>
      <div class="record-item-r">
        ￥{if condition='$v.superior_id == $consumer_id'}
            {$v.superior_amount|number_format=2}
        {elseif condition='$v.consumer_id == $consumer_id'}
            {$v.rebate|number_format=2}
        {/if}
      </div>
    </div>
    {/volist}

  </div>
</div>
</body>
{/block}

