{extend name='public:base'}
{block name='title'}加盟商列表{/block}
{block name='style'}
<style type="text/css">
  .merchants-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .search-header{
    height: 105px;
    width: 100%;
    background-color: #1c1a1d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-header .search-container{
    width: 688px;
    height: 72px;
    border-radius: 36px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #dcdcdc;
    display: flex;
    align-items: center;
  }
  .search-container .icon{
    color: #a0a0a0;
    font-size: 48px;
    margin: 0 20px;
  }
  .search-container .search-input{
    flex: 1;
    height: 100%;
    padding-right: 35px;
  }
  .search-container .search-input input{
    width: 100%;
    height: 100%;
    line-height: 72px;
    font-size: 28px;
    color: #999;
  }


  /* list container start */
</style>
{/block}

{block name='body'}
<body>
<div class="merchants-main">
  <!-- search start -->
  <div class="search-header">
    <div class="search-container">
      <i class="icon iconfont icon-sousuo"></i>
      <div class="search-input">
        <input type="text" name="" placeholder="搜索商家" >
      </div>
    </div>
  </div>

  <div class="merchants-list-container">
    <div class="merchants-list-content">
      <div class="merchants-item">
        <div class="merchants-logo" style="background: url('__INDEX_IMG__/index_list_img1.png') no-repeat center center/205px 143px;">
          <img src="__INDEX_IMG__/jiao1.png">
        </div>
        <div class="merchants-info">
          <p class="merchants-name">商家名称：简租</p>
          <p class="merchants-addr">
            <i class="icon iconfont icon-dizhi"></i>
            <span>重庆市渝北区杨柳北路29号</span>
          </p>
          <p class="merchants-tel">
            <i class="icon iconfont icon-dianhua"></i>
            <span>02352433464</span>
          </p>
        </div>
      </div>
      <div class="merchants-item">
        <div class="merchants-logo" style="background: url('__INDEX_IMG__/index_list_img2.png') no-repeat center center/205px 143px;">
          <img src="__INDEX_IMG__/jiao2.png">
        </div>
        <div class="merchants-info">
          <p class="merchants-name">商家名称：简租</p>
          <p class="merchants-addr">
            <i class="icon iconfont icon-dizhi"></i>
            <span>重庆市渝北区杨柳北路29号</span>
          </p>
          <p class="merchants-tel">
            <i class="icon iconfont icon-dianhua"></i>
            <span>02352433464</span>
          </p>
        </div>
      </div>
      <div class="merchants-item">
        <div class="merchants-logo" style="background: url('__INDEX_IMG__/index_list_img1.png') no-repeat center center/205px 143px;">
          <img src="__INDEX_IMG__/jiao1.png">
        </div>
        <div class="merchants-info">
          <p class="merchants-name">商家名称：简租</p>
          <p class="merchants-addr">
            <i class="icon iconfont icon-dizhi"></i>
            <span>重庆市渝北区杨柳北路29号</span>
          </p>
          <p class="merchants-tel">
            <i class="icon iconfont icon-dianhua"></i>
            <span>02352433464</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{/block}


