{extend name='public:base'}
{block name='title'}公司简介{/block}
{block name='style'}
<style type="text/css">
  .company-info-main{
    height: 100%;
    width: 100%;
  }

  .company-logo{
    width: 100%;
    height: 350px;
  }
  .company-logo img{
    width: 100%;
  }

  .introduce-content{
    width: 100%;
    padding: 20px 20px;
  }

  .introduce-content p{
    font-size: 28px;
    color: #333;
    line-height: 55px;
  }

  .introduce-content .introduce-img{
    margin-top: 20px;
    width: 100%;
    display: flex;
  }

  .introduce-content .introduce-img img{

  }
</style>
{/block}

{block name='body'}
<body>

<div class="company-info-main">
  <div class="company-logo">
    <img src="{$data->company_img[0]}">
  </div>

  <div class="introduce-content">
    <p>{$data.company_info}</p>

    <div class="introduce-img">
      <img src="{$data->company_img[1]}" style="width: 346px;height: 331px;">
      <img src="{$data->company_img[2]}" style="width: 383px;height: 256px;">
    </div>
  </div>
</div>
</body>
{/block}


