<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Banner管理|后台管理系统</title>
    {include file="public/head" /}
</head>
<body>
<form action="{:isset($infos)?url('edit'):url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="layerCon bg_f">
        <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td><label for="url">跳转地址：</label></td>
                <td colspan="3">
                    <input id="url" type="text" name="url" value="{:isset($infos)?$infos->url:''}" placeholder="请输入跳转地址" />
                </td>
            </tr>
            <tr class="h50">
                <td><label for="url">图片类型：</label></td>
                <td colspan="3">
                    {if condition="isset($infos) and $infos->type"}
                    <label><input name="type" class="va_m" type="radio" value="1" {if condition="$infos->getData('type') eq 1"}checked{/if}>首页轮播图</label>
                    <label><input name="type" class="va_m" type="radio" value="2" {if condition="$infos->getData('type') eq 2"}checked{/if}>首页Banner图</label>
                    {else/}
                    <label><input name="type" class="va_m" type="radio" value="1" checked>首页轮播图</label>
                    <label><input name="type" class="va_m" type="radio" value="2" >首页Banner图</label>
                    {/if}
                </td>
            </tr>
            <tr class="h50">
                <td>上传图片： </td>
                <td class="imgCon" colspan="3">
                    {if condition="isset($infos) and $infos->img"}
                    <div class="img">
                        <img src="{$infos->img}" class="w_100 h_100" onclick="bigimg(this)">
                        <p><span onclick="picremove(this);">删除</span></p>
                        <input type="hidden" name="img" value="{$infos->img}">
                    </div>
                    {/if}
                    <div class="img upload-btn">
                        <input type="file" name="upload_files" style="display: none" class="upload_files" data-hiddenname="img" data-url="{:url('Tools/upload_img')}">
                        <a>+</a>
                    </div>
                </td>
            </tr>

            {if condition="isset($infos)"}
            <tr class="h50">
                <td>操作时间：</td>
                <td colspan="3">
                    创建于：{$infos->create_at}<br/>
                    更新于：{$infos->update_at}<br/>
                </td>
            </tr>
            {/if}
        </table>
        <div class="layerBtns">
            <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
            <button class="btn" type="reset">重置</button>
        </div>
    </div>
</form>

<script src="__STATIC__/system/js/ajax-submit.js?ver={:date('ymd')}"></script>
<script src="__STATIC__/system/js/upload.js?ver={:date('ymd')}" type="text/javascript" charset="utf-8"></script>
<script>

</script>
</body>
</html>
